<div>
  <ion-list>
      <ion-toolbar color="primary">
        <ion-title>Shipments</ion-title>
      </ion-toolbar>
    <ion-list-header lines="full">
      <ion-label> Weight </ion-label>
      <ion-label> EAD </ion-label>
    </ion-list-header>
    <ng-container *ngFor="let shipment of shipments">
      <shipment-list-item
        [shipment]="shipment"
        (itemSelected)="onShipmentSelected($event)"
      ></shipment-list-item>
    </ng-container>
  </ion-list>
  <div class="shipment-list-buttons">
    <ion-fab-button
      class="shipment-button"
      (click)="onItineraryButtonClicked()"
      [disabled]="selectedItems.length == 0"
    >
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-fab-button>
  </div>
</div>
