<ion-header [hidden]="scanActive">
  <ion-toolbar color="primary">
    <ion-title> QR code reader </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'">
  <ion-card [hidden]="scanActive" >
    <img src="assets/menu-qr.png" />
  </ion-card>
    <ion-header class="ion-text-center" [hidden]="scanActive"> Press "Start Scan" to start the scanning proccess</ion-header>
  <ion-button expand="full" (click)="startScan()" [hidden]="scanActive">
    <ion-icon name="scan" slot="start"></ion-icon>
    Start Scan
  </ion-button>
  <ion-button expand="full" (click)="goBack()" [hidden]="scanActive">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Back
  </ion-button>
  <p class="ion-text-center">
    {{result}}
  </p>
</ion-content>



<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScan()">Stop</ion-button>
  </ion-col>
</ion-row>
